
/** defaults **/
input[type=text],
input[type=url],
input[type=email],
input[type=password],
input[type=number] {
  @include sassy-text;
  border-color: $color_medium_gray !important;
}

#pickupLocationV,
#pickupLibraryV {
  @include sassy-select;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  border-color: $color_medium_gray !important;
}

.iframeHeaderContent {
  padding-top: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: .5em 0 !important;
  padding-left: 0 !important;
  >em {
    display: none !important;
  }
  .requestOption {
    &:first-of-type {
      padding-left: auto;
    }
  }
}



.getitNoHoldings {
  padding: 1em !important;

  .clearfix:first-of-type {
    display: none;
  }

  .requestOptionNoHoldings {
    margin: .75em 0;
    input.submitAsLink {
      @include button-style($color_teal, $white);
      font-size: .8em;
    }
    &:after {
      content: none !important;
    }
  }
}


/** buttons **/
#formActionsContainer input[type="submit"],
.iframeHeader input[type="submit"],
.actionsInputButtons,
#submitILLRequest,
#submitPurchaseRequest,
#exlidRequestTabFormSubmit,
.actionsInputButtons[type="submit"],
[type="submit"]#submitILLRequest,
[type="submit"]#submitPurchaseRequest,
[type="submit"]#exlidRequestTabFormSubmit {

  @include button-style($color_teal, $white);

}

.resetContainer {
  a {
    @include button-style($color_silver, $color_medium_gray);

   @include hover {
      color: $color_dark_gray;
    }
  }
}

/** hide filters for issues **/

#exlidResult8-TabContent {
  ul.filterResults {
    display: none !important;
  }
}

/** reorder request fields **/

#resourceSharingRequestContainer,
#resourceInformationHeader,
#resourceInformationContainer,
#resourceInformationHeader,
#deliveryInformationContainer,
#deliveryInformationHeader,
#siteConfigurableTextContainer {
  flex: 0 0 100%;
  flex-wrap: wrap;
}

/** remove padding from titles **/
.requestForm,
.purchaseRequest {
  padding: 0;

  & > form {
    border: none;
    box-shadow: none;
    background-color: #fff;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include sm {
      padding: 0 !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    h2 {
      margin: 0 0 .5em;
      padding: 0;
      color: $color_dark_blue;
    }

    @extend %formgrid;

    .mandatory {
      color: $color_orange;
      font-size: 2em;
      position: relative;
      margin: 0;
      top: 12px;
      right: -5px;
      }
    }
  }

/** get it form */
#titleContainer {

  width: 100% !important;

  @extend %formgrid;

}

/*** ordering sections - use higher numbers to preserve other sections order ***/
#resourceSharingRequestHeader {}
#resourceSharingRequestContainer {}
#resourceInformationHeader {
  order: 28;
}
#resourceInformationContainer {
  order: 29;
}
#resourceInformationHeader {
  order: 25;
}
#deliveryInformationContainer {
  order: 26;
}
#deliveryInformationHeader {}

/*** last line - contains buttons **/
#siteConfigurableTextContainer {
  order: 100;
}